*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f7f8;
    font-family: "Raleway", sans-serif;
}

.header{
    box-sizing: border-box;
    width: 100%;
    height: 61px;
    background-color: #4d636f;
    position: fixed;
    top: 0;
    z-index: 1;
/*    font-family: "Segoe UI",Arial,sans-serif;*/
}
a{
    padding: 20px 30px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}
a:hover{
    background-color: #ccc;
     color: #000;   
}

.globe:hover{
    background-color: #fff;
}

.user:hover{
    background-color: #fff;
}

.envelope:hover{
    background-color: #fff;
}

.drop-down-content{
    display: none;
}

.drop-down-content a:hover{
    background-color: #ccc;
    color: #000;
}

.drop-down-content a{
    line-height: 50px;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 3px 20px 10px 15px;
    font-size: 23px;
}

.inline{
    position: absolute;
    display: inline-block;
}

.inline:hover .drop-down{
    background-color: #ccc;
    color: #000;
}

.inline:hover .drop-down-content{
    display: block;
}

.block{
    display: block;
    background-color: #fff;
    color: #000;
    height: 52px;
}

.image{
    color: #fff;
    padding: 15px 30px;
}


.right{
    float: right;
}

.image:hover{
    background-color: #fff;
}

.logo{
    background-color: #3a4b53;
}


i.fa.fa-home::before{
    padding-right: 15px;
}

.my-profile i.fa.fa-home::before{
    padding-right: 30px;
}

.my-profile .fa.fa-pencil::before{
    padding-right: 30px;
}

.my-profile i.fa.fa-birthday-cake::before{
    padding-right: 30px;
}

.notification{
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    float: right;
    display: inline-block;
    position: absolute;
    top: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.drop-down{
    padding-right: 38px;
}

.clearfix{
    clear: both;
}

.left{
    width: 24.33333%;
    float: left;
}

.my-profile{
    position: relative;
    top: 70px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 20px;
}

.profile{
    font-size: 23px !important;
    padding-bottom: 25px !important;
}

.text-align{
    text-align: center;
    padding-bottom: 20px;
}

.icon{
    color: #607d8b;
}

.my-profile p{
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 20px;
}

.tasks{
    background-color: #7d97a5;
    position: relative;
    top: 70px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    
}

.tasks p{
/*    padding-bottom: 13px;*/
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 13px;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

.photos{
    padding-bottom: 13px;
}

.tasks i.fa.fa-circle-o-notch::before{
    padding-right: 20px;
}

.tasks .fa.fa-calendar-check-o::before{
    padding-right: 20px;
}

.tasks i.fa.fa-users::before{
    padding-right: 20px;
}

.tasks p:hover{
    color: #000;
    background-color: #ccc;
}

.interests{
    background-color: #fff;
    position: relative;
    top: 70px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.interests p{
    padding: 15px 0 15px 15px;
    font-size: 23px;
}

.interests div{
    font-size: 14px;
/*    text-align: center;*/
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.notif{
    background-color: #dfe5e8;
    position: relative;
    top: 70px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}

.notif p{
    padding-top: 12px;
    padding-right: 3px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
}

.notif span:hover{
    background-color: #ccc;
}

.right{
    float: right;
}

.upcoming-events{
    width: 210px;
    height: 330px;
    position: relative;
    top: 70px;
    padding: 9px 18px 0 18px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 20px;
}

.head{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.upcoming-events p{
    padding-top: 15px;
}

.upcoming-events a{
    margin-top: 15px;
    background-color: #dfe5e8;
    color: #373737;
    padding: 8px 70px;
    text-align: center;
}

.upcoming-events a:hover{
    background-color: #d0d2d3;
}

.friend-request{
    width: 210px;
    height: 280px;
    position: relative;
    top: 70px;
    padding: 16px 18px 0 18px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 20px;
}

.friend-request a{
    padding: 9px 30px;
}

.ads{
    width: 210px;
    height: 160px;
    position: relative;
    top: 70px;
    padding: 16px 18px 0 18px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 20px;
}

.bug{
    width: 210px;
    height: 160px;
    position: relative;
    top: 70px;
    padding: 16px 18px 0 18px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 20px;
}

.middle{
    float: left;
    width: 54.99999%;
    position: relative; 
    top: 83px; 
    left: 25px; 
    display: inline-block;
}

.status{
    background-color: #fff;
    padding: 20px;
}

.status p{
    opacity: 0.60; 
    padding-bottom: 15px; 
    font-size: 17px;
}

.status input{
    color: #000; 
    width: 98%; 
    padding: 10px; 
    margin-bottom: 15px; 
    font-size: 17px;
}

.status button{
    padding: 12px 18px; 
    border: transparent; 
    background-color: #607d8b; 
    color: #fff;
}

.status i.fa.fa-pencil::before{
    padding-right: 3px;
}

.status button:hover{
    background-color: #ccc;
    color: #000;
}

.post1{
    background-color: #fff;
    padding: 20px 20px 25px 20px;
    margin-top: 20px;
}

.post1 button{
    padding: 12px 18px; 
    border: transparent; 
    background-color: #607d8b; 
    color: #fff;
    margin-top: 20px;
    font-size: 17px;
}

.post1 i.fa.fa-thumbs-up::before{
    padding-right: 3px;
}

.post1 i.fa.fa-comment::before{
    padding-right: 3px;
}

.post1 button:hover{
    background-color: #ccc;
    color: #000;
}

.footer{
    width: 100%;
    color: #fff;
}